body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    transition: 0.65s ease;
}

body.light-theme {
    background: #969696;
    --text-color: #515151;
    --link-color: #ff9e01;
    --icon-color: #000;
}

body.dark-theme {
    background: #000000;
    --text-color: #939393;
    --link-color: #00FFBF;
    --icon-color: #fff;
}

body {
    color: var(--text-color);
}

h1,
h2,
p,
.description,
.description_2 {
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.icon,
.link-icon,
.copy-icon {
    color: var(--icon-color);
}

a::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    display: none;
}

a:hover .link-icon,
a:hover .link-button {
    transform: scale(1.25);
    transition: transform 0.3s ease;
}

.link-button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
}

.link-icon {
    padding: 2px;
    margin-right: 2px;
    transition: transform 0.3s ease;
    width: 10px;
    height: 10px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-left: 12px;
    transition: transform 0.3s ease;
    transform: scale(0.98);
}

.icon:hover {
    transform: scale(1.68);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.95;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.95;
}

p {
    font-size: 15px;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
}

.interactive {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    margin: 0px;
}

.link-container,
.theme-container,
.icons-container {
    flex: 1;
    margin-right: 12px;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-container a {
    display: inline-block;
    padding-right: 20px;
}

.theme-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 6px 12px;
}

.main .cell {
    position: relative;
}

.main .cell .description,
.main .cell .description_2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.main .cell:hover .description,
.main .cell:hover .description_2 {
    max-height: 100px;
}

.transparent-button {
    background: transparent;
    border: none;
}

.description_2 {
    font-size: 15px;
}

input[type="radio"],
button {
    color: var(--link-color);
    background: transparent;
    border: none;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.email-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copy-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.email-button:hover .copy-icon {
    transform: scale(0.68);
}

.theme-switch {
    display: none;
}

.theme-label {
    width: 60px;
    height: 30px;
    background: none;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--link-color);
    transform: scale(0.68);
}

.ball {
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--link-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.3s;
}

.theme-switch:checked+.theme-label .ball {
    transform: translateX(30px);
}

@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .icon {
        width: 12px;
        height: 12px;
    }
}