body,
html {
    margin: 0;
    padding: 0;
    height: 100%;

    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    transition: 0.65s ease;
}

#interactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.light-theme h1 a:hover,
body.light-theme h2 a:hover {
    color: #000000;
}

body.dark-theme h1 a:hover,
body.dark-theme h2 a:hover {
    color: #ffffff;
}

/* body.light-theme h1:hover,
body.light-theme h2:hover {
    color: #000000;
}

body.dark-theme h1:hover,
body.dark-theme h2:hover {
    color: #ffffff;
} */

body.light-theme {
    background: #ffffff;
    --text-color: #7c7c7c;
    --link-color: #3b3b3b;
}

body.dark-theme {
    background: #000000;
    --text-color: #dfdfdf;
    --link-color: #dfdfdf;
}

.dark-theme .icon {
    filter: invert(100%);
}

body {
    color: var(--text-color);
}


.element {
    user-select: none;
    cursor: pointer;
}

h1,
h2,
p,
.description,
.description_2 {
    user-select: none;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    user-select: none;
}

.icon,
.link-icon,
.copy-icon {
    fill: var(--icon-color);
}

.dark-theme .copy-icon {
    filter: invert(100%);
}

a::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--link-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    display: none;
}

a:hover .link-icon,
a:hover .link-button {
    transform: scale(1.25);
    transition: transform 0.3s ease;
}

.link-button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
}

.link-icon {
    padding: 2px;
    margin-right: 2px;
    transition: transform 0.3s ease;
    width: 10px;
    height: 10px;
}

.dark-theme .link-icon {
    filter: invert(100%);
}

.icon {
    width: 15px;
    height: 15px;
    margin-left: 12px;
    transition: transform 0.3s ease;
    transform: scale(0.98);
}

.icon:hover {
    transform: scale(1.68);
}

.copy-icon,
.expand-icon,
.collapse-icon {
    user-select: none;
    cursor: pointer;
    fill: var(--icon-color);
}

.dark-theme .expand-icon,
.dark-theme .collapse-icon {
    filter: invert(100%);
}

.expand-icon,
.collapse-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.expand-icon,
.collapse-icon {
    position: relative;
    top: -20px;
}

.expand-icon:hover,
.collapse-icon:hover {
    transform: scale(1.2);

}

h1 {

    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.95;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 0.95;
}

p {
    font-size: 15px;
    margin-top: -10px;
}

.wrapper {
    display: flex;
    height: 100vh;
    min-height: 100%;
}

.content {
    flex: 1;
    overflow: auto;
}

.interactive {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    margin: 0px;
}

.link-container,
.theme-container,
.icons-container {
    flex: 1;
    margin-right: 12px;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-container a {
    display: inline-block;
    padding-right: 20px;
}

.theme-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 0 12px;
    padding-bottom: 24px;
}

.main .cell {
    max-width: 540px;
    position: relative;
}

.main .cell .description,
.main .cell .description_2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.transparent-button {
    background: transparent;
    border: none;
}

.description_2 {
    font-size: 15px;
}

input[type="radio"],
button {
    color: var(--link-color);
    background: transparent;
    border: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-top: 18px;
    bottom: 12px;
    width: 100%;
}

.email-button {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
}

.copy-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.email-button:hover .copy-icon {
    transform: scale(0.68);
}

.theme-switch {
    display: none;
}

.theme-label {
    width: 60px;
    height: 30px;
    background: none;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--link-color);
    transform: scale(0.68);
}

.ball {
    position: absolute;
    top: 5px;
    left: 5px;
    background: var(--link-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.3s;
}

.theme-switch:checked+.theme-label .ball {
    transform: translateX(30px);
}

@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .icon {
        width: 12px;
        height: 12px;
    }
}